.about {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: white;

    p {
        font-size: 20px;
    }

    h1 {
        margin: 50px 0 30px 0;
    }

    h2 {
        margin: 100px 0 30px 0;
    }
}

.aboutList {
    list-style-type: none;

    li {
        font-size: 18px;
    }
}